<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasoft.shop.mapper.AddressMapper">
	<insert id="addAddress" parameterType="address">
		insert into address values
		(#(id),#(uname),#(area),
		#(street),#(phone),#(code),
		#(cellPhone),
		#(state),
		<trim>#(uid)</trim>)
	</insert>
	<select id="findAll" parameterType="java.lang.String"  resultType="address">
	select * from address <where> uid = #{id}</where>
	</select>
	<select id="findById" resultType="address">
	select * from address <where> id = #{id}</where>
	</select>
	<update id="setDefault">
	update address set state =#{state} where id=#{id}
	</update>
	<update id="updateState">
	update address set state = "0" where uid=#{id}
	</update>
	<update id="cancelDefault">
	update address set state=#{state} where id = #{id}
	</update>
	<update id="update" parameterType="address">
	update address set uname=#(uname,jdbcType=VARCHAR),area=#(area,jdbcType=VARCHAR),
	street=#(street,jdbcType=VARCHAR),phone=#(phone,jdbcType=VARCHAR),
	code=#(code,jdbcType=VARCHAR),cellPhone=#(cellPhone,jdbcType=VARCHAR),
	state=#(state,jdbcType=CHAR),uid=#(uid,jdbcType=VARCHAR) where id=#{id,jdbcType=VARCHAR}
	</update>
</mapper> 